<?xml version="1.0"?>
<configuration>
	<connectionStrings>

		<add name="conn" connectionString="Server=103.92.235.95;Database=ctusranc_erp;  User ID=ctusranc_erp; Password=Cit@986#erp556677;  pooling=false; Connection Timeout=360000; " providerName="system.data.sqlclient"/>

		<!--<add name="conn" connectionString="Server=DESKTOP-J6THJMQ\SQLEXPRESS;Database=erp;  User ID=ctusranc_erp; Password=Cit@986#erp556677;  pooling=false; Connection Timeout=360000; " providerName="system.data.sqlclient"/>-->
	</connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>